ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#outer{
    margin-bottom: 10px;
}

.black {
  color: black;
}

#green {
  color: green;
}

#red {
  color: red;
}

#balance {
  color: black;
}

.hint {
  color: #333;
}
